.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 1px solid #ddd;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 100px;
}

.login a{
    text-decoration: none;
}

.login h1{
  padding: 5px;
  font-size: 25px;
  border-radius: 25px;
  width: 200px;
  text-align: center;
  position:absolute;
    top: -25px;
    margin-bottom: 20px;
    left: calc(50% - 100px);
}

.login form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.radioItem{
    margin-right: 0;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.radioItem span{
    margin-right: 5px;
}

.notvalid{
    border: 1px solid red;
    color: red;
}